body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.header-text {
  color: #606080;
  font-weight: 500;
  margin-top: 17px;
  font-size: 17px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.tag-card {
  margin: 10px 0 0 20px;
  color: #806078;
}

.post-name {
  color: #f48fb1;
  font-size: 18px;
  margin: 0 0 0 4px;
  font-weight: 500;
}

.tagErrMsg {
  color: red;
  margin-top: 5px;
  text-align: left;
  font-size: 16px;
}
