body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.header-text {
  color: #606080;
  font-weight: 500;
  margin-top: 17px;
  font-size: 17px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.tag-card {
  margin: 10px 0 0 20px;
  color: #806078;
}

.post-name {
  color: #f48fb1;
  font-size: 18px;
  margin: 0 0 0 4px;
  font-weight: 500;
}

.tagErrMsg {
  color: red;
  margin-top: 5px;
  text-align: left;
  font-size: 16px;
}

h4 {
  overflow: hidden;
  text-align: center;
}

h4::after,
h4::before {
  background-color: #000;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h4::before {
  right: 0.5rem;
  margin-left: -50%;
}

h4::after {
  left: 0.5rem;
  margin-right: -50%;
}
